# ------------------------------------------------------
# Project-specific files
# ------------------------------------------------------
HELP.md
.env

# Build output
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# ------------------------------------------------------
# IDE & Tooling
# ------------------------------------------------------

### Spring Tool Suite (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
